source https://api.nuget.org/v3/index.json

storage:none

nuget Elmish.Bridge.Suave
nuget Elmish.SweetAlert
nuget Elmish.Toastr
nuget Expecto
nuget Fable.Remoting.Client
nuget Fable.Remoting.Suave
nuget FSharp.Core
nuget Fable.Core 
nuget Fable.Elmish.React 
nuget Fable.Elmish.Browser
nuget Fable.Elmish.HMR
nuget Fable.Elmish.Debugger
nuget Serilog.Sinks.Console
nuget Suave.SerilogExtensions
nuget jose-jwt
nuget Newtonsoft.Json
nuget LiteDB.FSharp
nuget Fable.JsonConverter
nuget Suave 

clitool dotnet-fable

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json
  nuget FAKE ~> 4.64.6