source https://nuget.org/api/v2

storage:none

nuget Elmish.Bridge.Suave
nuget Elmish.SweetAlert prerelease
nuget Elmish.Toastr prerelease
nuget Expecto

nuget Fable.Remoting.Client prerelease
nuget Fable.Remoting.Suave
nuget FSharp.Core
nuget Fable.Core prerelease
nuget Fable.Elmish.React prerelease
nuget Fable.Elmish.Browser prerelease
nuget Fable.Elmish.HMR prerelease
nuget Fable.Elmish.Debugger prerelease
nuget Serilog.Sinks.Console
nuget Suave.SerilogExtensions

nuget jose-jwt
nuget Suave
nuget Newtonsoft.Json
nuget LiteDB.FSharp
nuget Fable.JsonConverter

clitool dotnet-fable prerelease
clitool Microsoft.DotNet.Watcher.Tools

group Build
  framework >= net45
  source https://api.nuget.org/v3/index.json
  nuget FAKE ~> 4.64.6