.sidebar {
    background: url('/img/sidebar-bg.png') repeat left top
}

.qoute {
    color: white;
    background-color: #404040;
}

.admin-setion:hover {
    color: lightgreen;
    cursor: pointer;
}